.contact {
  .map {
    background-image: url("./images/contacto/Image 23@2x.png");
    background-position: center center;
    background-size: cover;
    background-color: #000;
    min-height: 350px;
  }
  .c-title {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 57px;
    color: #000;
    margin-bottom: 36px;
  }
  .label {
    color: #7f7f7f;
    font-family: "Inconsolata", monospace;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
  }
  .text-value{
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    margin-top: 10px;    
    margin-bottom: 36px;
    color: #000;
    padding-right: 5px;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px #000 solid;
  }
}
