.bg-black-down {
  background: transparent linear-gradient(119deg, #000000 0%, #353535 100%) 0% 0% no-repeat;
  color: #fff;
}
.bg-black-up {
  background: transparent linear-gradient(61deg, #000000 0%, #353535 100%) 0% 0% no-repeat;
  color: #fff;
}
.bg-black{
  background: #000;
  color: #fff;
}
.bg-white {
  background-color: #fff;
  color: #000;
}
.height-100 {
  height: 100%;
}
.initial {
  position: relative;
  .arrow {
      position: absolute;
      bottom: 21px;
      right: 22px;
      padding: 10px 20px;
    }
}
.home {
  .red{
      color: $red;
  }
  .yellow{
      color:$yellow;
  }

  .title {
    font-family: "Inconsolata", monospace;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 5px;
  }
  .subtitle {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 15px;
  }
  .btn-custom {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 18px;
    display: block;
    text-decoration: none;
    color: #fff;
    border: 3px #fff solid;
    border-radius: 40px;
    padding: 13px 64px;
    text-align: center;
    max-width: 201px;
    line-height: 24px;
    flex: 0 0 100%;
  }
}
.img-member{
  margin-bottom: 40px;
}
.member-name{
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 50px;
  margin-bottom: 0;
}
.member-job{
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
}
.title-about{
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 62px;
}
.title-team{
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 109px;
  line-height: 111px;
}
.text-about{
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
}
.clients-img{
  max-width: 140px;
}
#fp-nav{
  &.fp-white{
    ul{
      li{
        a{
          span{
            background: #000;
          }
        }
        
      }
    }  
  }
  ul{
    li{
      a{
        span{
          background: #fff;
        }
      }
      .fp-tooltip{
        background: #000;
        padding: 5px;
        border-radius: 10px;
      }
    }
  }
}