.section-menu{
    padding-top: 61px;
}
.page-title{
    line-height: 23px;
    font-family: "Inconsolata", monospace;
    font-weight: 400;
    font-size: 22px;
    padding-bottom: 18px;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.page-p{
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 31px;
    line-height: 40px;
    margin-bottom: 10px;
}
.py-menu{
    padding-top: 70px;
    padding-bottom: 0;
}
