.home {
  .gray {
    color: #b4afab;
  }
  .cyan {
    color: #24d29d;
  }
  .blue {
    color: #2580eb;
  }
  .green {
    color: #4caf50;
  }
  .dark-blue {
    color: #1c3ddf;
  }
  .light-blue{
    color: #0091FE;
  }
}
