@media screen and (max-width: 767.5px) {
  .home-img {
    max-height: 300px;
  }
  .img-member{
    max-height: 317px;
  }
  .width-100{
    width: 100%;
  }
  #fp-nav {
    display: none;
  }
  .section{
    padding-top: 0;
    padding-bottom: 0;
  }
  .mobile-menu{
    padding-top: 69px;
    padding-bottom: 69px;
  }
}

@media screen and (max-width: 991.9px) {
  .title-team{
    font-size: 65px;
    line-height: 77px;
  }
}
@media screen and (min-width: 992px) {
  .img-superpuesta{
    margin-top: -80px!important;
    margin-bottom: -35px !important;
  }
}

@media screen and (max-width: 800px) {
  .fbo{
    .title-1{
      font-size: 32px !important;
      line-height: 41px !important;
    }
  }
}
@media screen and (max-width: 640px) {
  .fbo{
    .title-2{
      font-size: 33px !important;
      line-height: 40px !important;
    }
    .img-superpuesta{
      margin-top: -15px;
      margin-bottom: -4px;
  }
  }
}

@media screen and (max-width: 1025px) and (min-width: 768px) {

  .title-about{
    font-size: 21px;
    line-height: 26px;
  }
  .text-about{
    font-size: 14px;
    line-height: 23px;
  }
}

@media screen and (max-width: 1025px) {
  .page-p{
    font-size: 22px;
    line-height: 30px;
  }
  .fbo{
    .title-1{
      font-size: 45px;
      line-height: 52px;
    }
  }
}
@media screen and (max-width: 3993px) {
  #home {
    .subtitle {
      font-size: 35px;
      line-height: 50px;
    }
  }
  .btn-custom-outline{
    font-size: 17px !important;
    padding: 8px 45px !important;
  }
}
